<header <% if (theme.bg_image_color) {%>
  style="background: <%= theme.bg_image_color %>;"
<% } %> <% if (theme.bg_image) {%>
  data-bg="<%= theme.bg_image %>"
<% } %>>
  <div class="bar clearfix">
    <img class="logo f-l" src="<%= theme.logo %>" alt="logo">
    <img class="avatar f-r" src="<%= theme.avatar %>" alt="avatar" />
  </div>
  <h1><%= config.title %></h1>
  <h2 class="subtitle"><%= config.subtitle %></h2>
</header>
